
.images {
    height: 200px;
    width: 300px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
========
.images {
    height: 200px;
    width: 300px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
>>>>>>>> e347b12c6d43f6f2837cee54f42d2a7609204330:lab4/app/product-list/product-list.component.css
*/